<!DOCTYPE html>
<html lang="en">
<head>


    <link rel="stylesheet" href="{{ asset('assets/contact/vendors/bootstrap/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/contact/vendors/fontawesome/css/all.min.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/contact/vendors/themify-icons/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/contact/vvendors/owl-carousel/owl.theme.default.min.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/contact/vendors/owl-carousel/owl.carousel.min.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/contact/css/style.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/contact/css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/contact/vendors/flat-icon/font/flaticon.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/contact/vendors/nice-select/nice-select.css') }}">

    <link rel="stylesheet" href="">
</head>
<body>


<!-- ================ contact section start ================= -->
<section id="cntc">
<section class="section">
    <div class="container">
        <div class="d-none d-sm-block mb-0 pb-0">
        </div>


        <div class="row">
            <div class="col-12">
                <h2 class="contact-title">Contactez Nous</h2>
            </div>
            <div class="col-lg-8">



            </div>




            <div class="col-lg-4">
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-home"></i></span>
                    <div class="media-body">
                        <h3>Tunis , EzZahra</h3>
                        <p>45 Avenue Habib Bourguiba</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                    <div class="media-body">
                        <h3><a href="tel:94 395 491">94 395 491</a></h3>

                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-email"></i></span>
                    <div class="media-body">
                        <h3><a href="mailto:support@colorlib.com">crt.ezzahra@gmail.com</a></h3>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-email"></i></span>
                    <div class="media-body">
                        <h3><a href="#">crt.ezzahra@gmail.com</a></h3>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
</section>
<!-- ================ contact section end ================= -->





<!-- ================ start footer Area ================= -->





<script src="{{ asset('assets/contact/vendors/jquery/jquery-3.2.1.min.js') }}"></script>

<script src="{{ asset('assets/contact/vendors/bootstrap/bootstrap.bundle.min.js') }}"></script>

<script src="{{ asset('assets/contact/vendors/owl-carousel/owl.carousel.min.js') }}"></script>
<script src="{{ asset('assets/contact/vendors/Magnific-Popup/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ asset('assets/contact/vendors/nice-select/jquery.nice-select.min.js') }}"></script>
<script src="{{ asset('assets/contact/js/jquery.form.js') }}"></script>
<script src="{{ asset('assets/contact/js/jquery.validate.min.js') }}"></script>

<script src="{{ asset('assets/contact/js/contact.js') }}"></script>

<script src="{{ asset('assets/contact/js/jquery.ajaxchimp.min.js') }}"></script>

<script src="{{ asset('assets/contact/js/mail-script.js') }}"></script>

<script src="{{ asset('assets/contact/js/skrollr.min.js') }}"></script>

<script src="{{ asset('assets/contact/js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ asset('assets/contact/js/main.js') }}"></script>

</body>
</html>
