<!DOCTYPE html>
<html lang="en">
<head>


    <link rel="stylesheet" href="{{ asset('assets/templatecrt/vendors/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/templatecrt/css/animate.css') }}">
    <!-- animate CSS -->

    <link rel="stylesheet" href="{{ asset('assets/templatecrt/css/style.css') }}">




</head>
<body class="bg-shape">

<!-- about part start-->
<section id="intro" class="about_part">
    <div class="container-fluid">
        <div class="row align-items-center">

            <div class="col-lg-5">
                <div class="about_img">

                    <img src="{{ asset('assets/templateJour/img/imgcrt3.jpg') }}" height="480px" width="441px" class="img_1" alt="">
                    <img src="{{ asset('assets/templateJour/img/imgcrt2.jpg') }}" width="340px"  height="370px" class="img_2" alt="">
                    <h2>156 Ans de Travail <br>
                        Expérience</h2>
                </div>
            </div>
            <div class="offset-lg-1 col-lg-4">
                <div class="about_text">
                  <h2>À Propos Croissant Rouge </h2>
                    <p> Le Croissant Rouge Tunisien est une organisation humanitaire non gouvernementale,auxiliaire
                        des pouvoirs publics dans ses activités humanitaires.
                       <p> Il s’efforce de prévenir et d’alléger
                        en toutes circonstances les souffrances des hommes et il tend à protéger la vie et la santé
                        ainsi qu’à faire respecter la personne humaine.</p>
                     <p>
                       <h4 class="text-danger">Principes:</h4>
                    Humanité  -Impartialité  -Neutralité  -Universalité <br> -Indépendance-Volontariat-Unité
                    </p>

                    <p>
                       <h4 class="text-danger">Sections d'activités: </h4>
                    Diffusion  -Santé  -Social<br> -Secourisme -Gestion des catastrophes
                    -Jeunesse</p>
                </div>
            </div>
        </div>
    </div>

    <div class="hero-app-7 custom-animation"><img src=" {{ asset('assets/templateJour/img/animate_icon/icon_6.png') }}" alt=""></div>
    <div class="hero-app-8 custom-animation2"><img src="{{ asset('assets/templateJour/img/animate_icon/icon_4.png') }}" alt=""></div>
    <div class="hero-app-6 custom-animation3"><img src="{{ asset('assets/templateJour/img/animate_icon/icon_5.png') }} " alt=""></div>
</section>
<script src="{{ asset('assets/templateJour/js/jquery-1.12.1.min.js') }}"></script>

<script src="{{ asset('assets/templatecrt/js/popper.min.js') }}"></script>
<!-- popper js -->
<script src="{{ asset('assets/templatecrt/js/bootstrap.min.js') }}"></script>
<!-- bootstrap js -->
<script src="{{ asset('assets/templatecrt/js/jquery.magnific-popup.js') }}"></script>
<!-- easing js -->
<script src="{{ asset('assets/templatecrt/js/swiper.min.js') }}"></script>
<!-- swiper js -->
<script src="{{ asset('assets/templatecrt/js/masonry.pkgd.js') }}"></script>
<!-- swiper js -->
<script src="{{ asset('assets/templatecrt/js/jquery.counterup.min.jss') }}"></script>

<script src="{{ asset('assets/templatecrt/js/skrollr.min.js') }}"></script>

<script src="{{ asset('assets/templatecrt/js/waypoints.min.js') }}"></script>

<script src="{{ asset('assets/templatecrt/js/slick.min.js') }}"></script>
<!-- custom js -->
<script src="{{ asset('assets/templatecrt/js/custom.js') }}"></script>
</body>
</html>
