{% extends 'base.html.twig' %}
{% set title="Afficher la liste des medias " %}
{% block content %}

<div class="box">
    <div class="box-body">



        <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ media.id }}</td>
            </tr>
            <tr>
                <th>Imagename</th>
                <td>{{ media.imageName }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if media.updatedAt %}{{ media.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('media_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('media_edit', { 'id': media.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
        {{ form_end(delete_form) }}

    </div>
</div>
{% endblock %}
